.btn {
  border: 0;
  font-weight: 700;
  line-height: 1;
  padding: 14px 20px;
  @media (min-width: 768px) {
    font-size: 25px;
  }
  @media (max-width: 767px) {
    font-size: 12px;
  }
}

.btn-big {
  padding: 20px 20px 15px;
}