.comment-list {
  @extend .list-unstyled;
}
.comment-list ol {
  list-style: none;
}
.comment-form p {
  @extend .form-group;
}
.comment-form input[type="text"],
.comment-form input[type="email"],
.comment-form input[type="url"],
.comment-form textarea {
  @extend .form-control;
  background-color: #fff;
}
.comment-form input[type="submit"] {
  @extend .btn;
}

.comments {
    margin-top: 75px;
    input[type=submit] {
        font-size: 16px;
    }
    .children {
        font-size: 14px;
        .author-name {
            font-size: 16px;
        }
        .comment_text {
            font-size: 14px;
        }
    }
    .author-name {
        color: $brand-primary;
        font-size: 20px;
        font-weight: 400;
        text-transform: capitalize;
    }
    .comment_text {
        font-size: 16px;
    }
    .author-gravatar {
        @media (min-width: 768px) {
            text-align: right;
        }
        img {
            @include border-radius(50%);
        }
    }
}

.comment-reply-title {
    font-size: 20px;
}

article.comment {
    border-top: 1px solid #ccc;
    @media (min-width: 768px) {
        padding-bottom: 30px;
        padding-top: 30px;
    }
    @media (max-width: 767px) {
        padding-bottom: 10px;
        padding-top: 10px;
    }
}