.b-white {
    background-color: transparent !important;
    border-color: $white !important;
    color: $white !important;
    font-family: $font-family-helvetica;
    @include placeholder {
        color: $white !important;
    }
}

.form-control {
    box-shadow: none;
}

input[type=text],
input[type=number],
input[type=tel],
input[type=email],
input[type=url],
input[type=date],
select,
textarea {
    @extend .form-control;
}