footer.content-info {
    background-color: $brand-primary;
    color: $white;
    font-size: 12px;
    font-family: $font-family-helvetica;
    @include padding-tb(40px);
    a {
        color: inherit;
    }
}

.developer {
    font-family: $font-family-helvetica;
    text-transform: uppercase;
    @media (max-width: 767px) {
        font-size: 10px;
        margin-top: 12px;
    }
}

.copyright {
    @media (min-width: 768px) {
        text-align: right;
    }
    @media (max-width: 767px) {
        text-align: center;
    }
}

.developer,
.copyright {
    vertical-align: middle;
    @media (max-width: 767px) {
        display: block;
    }
}

.footer-links {
    list-style: none;
    @media (min-width: 768px) {
        margin-right: -20px;
    }
    @media (max-width: 767px) {
        display: table;
        padding-left: 0;
        width: 100%;
    }
    li {
        @media (min-width: 768px) {
            display: inline-block;
        }
        @media (max-width: 767px) {
            display: table-cell;
        }
        a {
            color: $white;
            font-family: $font-family-helveticaMD;
            font-weight: 700;
            text-transform: uppercase;
            @media (min-width: 768px) {
                @include padding-rl(20px);
            }
        }
    }
}

.text {
    font-family: $font-family-helvetica;
}