.home {
    .banner {
        position: relative;
        overflow: hidden;
    }
    .banner, #big-video {
        @media (min-width: 768px) {
            min-height: 600px;
        }
    }
}
.single-attorney {
    header {
        position: relative;
        text-align: center;
        margin-bottom: 20px;
    }
    h1.entry-title {
        background-color: #fff;
        border: 0;
        color: #404041;
        display: inline-block;
        font-family: $font-family-mrseaves;
        line-height: 50px;
        margin-top: 0;
        margin-bottom: 0;
        text-transform: capitalize;
        text-align: center;
        @media (min-width: 768px) {
            font-size: 60px;
            padding: 0 45px;
        }
        @media (max-width: 767px) {
            font-size: 30px;
            padding: 0;
        }
        &:before {
            @media (min-width: 768px) {
                background-color: #ccc;
                content: '';
                position: absolute;
                left: 0;
                top: calc(60px/2);
                height: 1px;
                width: 100%;
                z-index: -1;
            }
        }
    }
    .caption {
        font-family: $font-family-mrseaves;
        @media (min-width: 768px) {
            font-size: 25px;
        }
        @media (max-width: 767px) {
            font-size: 22px;
        }
    }
}

body.attorneys {
    h1 {
        border-bottom: 1px solid #ebebeb;
        padding-bottom: 30px;
        text-align: center;
    }
}

#big-video,
.video-js {
    @extend .full;
    overflow: hidden;
}
#big-video {
    position: absolute;
    video {
        position: absolute;
        top: 50%;
        left: 50%;
        min-width: 100%;
        min-height: 100%;
        width: auto;
        height: auto;
        @include translate(-50%, -50%);
    }
}

.nav-inner {
    max-width: 1800px;
    margin-left: auto;
    margin-right: auto;
    position: relative;
}

.navbar {
    clear: both;
    margin-bottom: 0;
    @media (min-width: 768px) {
        padding-top: 30px;
    }
    &-right {
        @media (min-width: 1736px) {
            margin-right: -35px;
        }
        @media (min-width: 1367px) and (max-width: 1735px) {
            margin-right: -17px;
        }
    }
    &-toggle {
        margin-top: 26px;
        border: 0;
        cursor: pointer;
        @media (max-width: $grid-float-breakpoint-max) {
            margin-right: 0;
        }
        .icon-bar {
        	background-color: $brand-primary !important;
            width: 33px;
            height: 3px;
            + .icon-bar {
                margin-top: 7px;
            }
            .affix & {
                background-color: #404041;;
            }
        }
        @media (max-width: 439px) {
            margin-top: 15px !important;
        }
    }
}

.navbar-brand {
    height: auto;
    @media (max-width: 454px) {
        float: left;
        width: 80%;
    }
}

.navbar-header {
    margin-left: -15px;
    @media (max-width: $grid-float-breakpoint-max) {
        margin-right: -10px;
    }
}

#main-menu {
    .close-nav {
        background-color: transparent;
        border: 0;
        color: #fff;
        left: 0;
        position: absolute;
    }
    @media (min-width: $grid-float-breakpoint) {
        margin-top: 15px;
        overflow-x: hidden;
        .close-nav {
            display: none;
        }
    }
    @media (max-width: $grid-float-breakpoint-max) {
        background-color: $brand-primary;
        top: 0;
        right: -9999px;
        position: fixed;
        width: 300px;
        height: 100%;
        text-align: right;
        overflow-y: auto; 
        @include transition(all .6s cubic-bezier(0.7,0,0.3,1));
        ul {margin: 30px 0 0;}
        &.slide {
            z-index: 99999999;
            right: 0;
        }
    }
    li {
        a {
            font-size: 14px;
            padding-top: 24px;
            @include transition(all .3s);
            @media (min-width: 1736px) {
                @include padding-rl(35px);
            }
            @media (min-width: 1367px) and (max-width: 1735px) {
                @include padding-rl(17px);
            }
            @media (min-width: $grid-float-breakpoint) {
                color: #404041;
            }
            @media (max-width: $grid-float-breakpoint-max) {
                color: #fff;
                font-weight: 700;
                @include transition(transform .3s);
            }
        }
        &:hover,
        &.current_page_item {
            a {
                @media (min-width: $grid-float-breakpoint) {
                    color: #415eb8;
                }
                @media (max-width: $grid-float-breakpoint-max) {
                    @include translateX(-10px);
                }
            }
        }
    }
}

.cta-top {
    font-size: 14px;
    font-weight: 700;
    position: relative;
    top: 20px;
    right: 0;
    z-index: 99;
    line-height: 1;
    position: absolute;
    @media (min-width: $grid-float-breakpoint) {
        * {
            color: #404041;
        }
    }
    @media (max-width: $grid-float-breakpoint-max) {
        color: #fff;
        .affix & {
            * {
                color: #404041;
            }
        }
    }
    span {
        display: block;
    }
}


.affix {
      top:0!important;
      width: 100%;
      z-index: 9999 !important;
      .nav-outer {   
        // @media (min-width: $grid-float-breakpoint) {
            @include box-shadow(0px 1px 7px #000);
        // }
      }
}
  
.affix ~ .container-fluid {
    position: relative;
    top: 50px;
}

.nav-container {
	background-color: rgba(255,255,255,1);
    @include transition(top .6s);
    // @media (min-width: $grid-float-breakpoint) {
        top: -300px;
    // }
    &.affix {
        &-top {
            .nav-outer {
                @media (min-width: $grid-float-breakpoint) {
                    position: relative;
                }   
            }
        }
        background-color: #fff;
    }
    .nav-outer {
        margin-left: -15px;
        margin-right: -15px;
        @include padding-rl(15px);
    }
}

@media (max-width: $grid-float-breakpoint-max) {
    .affix {
        // position: static;
    }
}


.hero,
.sub .tagline-container {
    position: absolute;
    bottom: 40px;
    left: 0;
    right: 0;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
    @media (min-width: 768px) {
        width: 50%;
    }
    @media (max-width: 767px) {
        width: 90%;
    }
}

header {
    &.banner {
        &:before {
            border: 1px solid $brand-primary;
            content: '';
            left: 0;
            top: 0;
            position: absolute;
            width: 100%;
            z-index: 1;
        }
    }
}

.tagline {
	background-color: rgba(0,0,0,0.5);
    color: $white;
    font-family: $font-family-gentium;
    font-weight: 700;
    padding: 10px 15px;
    text-transform: uppercase;
	@include text-shadow(2px 2px 2px rgba(0,0,0,0.3));
    @media (min-width: 768px) {
        font-size: 40px;
        line-height: 58px;
        margin-bottom: 33px;
    }
    @media (max-width: 767px) {
        font-size: 18px;
        line-height: 25px;
        margin-bottom: 15px;
    }
}

.direction {
    color: $white;
    font-weight: 700;
    text-transform: uppercase;
    @media (min-width: 768px) {
        font-size: 15px;
        margin-top: 55px;
    }
    @media (max-width: 767px) {
        font-size: 12px;
        margin-top: 20px;
    }
    .caption {
        display: block;
        @media (min-width: 768px) {
            margin-bottom: 18px;
        }
        @media (max-width: 767px) {
            margin-bottom: 4px;
        }
    }
}

.play {
    background-image: url(../images/play.png);
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-bottom: 38px;
    @extend .center-block;
    @include opacity(60);
    @include transition(opacity .3s);
    &:hover {
        -webkit-animation: pulse 1s;
        animation: pulse 1s;
        @include opacity(100);
    }
}

.banner {
    &.sub {
        background-color: #ccc; 
        position: relative;
        overflow: hidden;
        @extend .bg-full;
        @media (min-width: 768px) {
            height: $subpage-banner-height;
        }
        @media (max-width: 767px) {
            height: $subpage-banner-height-mobile;
        }
        .overlay {
            z-index: 10;
        }
    }
}


.hero-slider {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
    ul {
        padding: 0;
        margin: 0;
        height: 100%;
    }
    .item {
        background-color: #333;
        height: 100%;
        @extend .bg-full;
    }
}
 
.page-header {
    border: 0;
    margin-bottom: 20px;
    padding-bottom: 0;
    @media (min-width: 768px) {
        margin-top: 70px;
    }
    @media (max-width: 767px) {
        margin-top: 40px;
    }
    .page-title {
        color: #404044;
        text-transform: uppercase;
    }
}

.single-practice-area {
    h1.entry-title {
        border-top: 0;
        margin-top: 0!important;
        padding-top: 0;
        padding-bottom: 15px;
        margin-bottom: 30px;
        border-bottom: 1px solid #ccc;
        @media (min-width: 768px) {
            font-size: 36px;
        }
        @media (max-width: 767px) {
            font-size: 18px;
        }
    }
}

.hero-slider__content {
    color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    @media (max-width: 767px) {
        width: 90%;
    }
    &-container {
        position: relative;
        height: 100%;
    }
}