html,
body {
    font-family: $font-family-helvetica;
    font-size: 14px;
    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

.html,body {
    @extend .full-height;
}

.practice-area-list {
    font-family: $font-family-helveticaMD;
    a {
        display: block;
        text-decoration: none!important;
        @media (min-width: 768px) {
            padding-top: 90px;
            padding-bottom: 90px;
        }
        @media (max-width: 767px) {
            padding-top: 50px;
            padding-bottom: 50px;
        }
    }
    .row {
        div:last-child {
            border-right: 0;
        }
    }
    > div:last-child {
        div {
            @media (min-width: 768px) {
                border-bottom: 0;
            }
        }
    }
    &__item {
        border-bottom: 1px solid #ebebeb;
        color: #404041;       
        font-size: 20px;
        border-right: 1px solid #ebebeb;
        &:nth-child(3n+0) {
            @media (min-width: 992px) {
                border-right: 0;
            }
        }
        &:nth-child(2n+0) {
            @media (max-width: 991px) {
                border-right: 0;
            }
        }
        @extend .text-center;
        .title {
            font-size: 20px;
            display: block;
            line-height: 25px;
            margin-top: 40px;
            @media (min-width: 768px) {
                width: 50%;
               margin-left: auto;
               margin-right: auto;
            }
            @media (max-width: 767px) {
                font-size: 14px;
                line-height: 15px;
            }
        }
    }
}

.wrap {
    &.sub {
        .addon.odd  {
            hr {
                margin-right: 0;
            }
        }
        .addon.even  {
            hr {
                margin-left: 0;
            }
        }
    }
}
.addon {
    color: $white;
    h2,h3 {
        font-family: $font-family-helveticaMD;     
        text-transform: uppercase;
        font-weight: 700;
        a {
            color: inherit;
        }
    }
    h2 {
        @media (min-width: 768px) {
            font-size: 60px;
        }
        @media (max-width: 767px) {
            font-size: 30px;
        }
    }
    h3 {
        @media (min-width: 768px) {
            font-size: 50px;
            line-height: 75px;
        }
        @media (max-width: 767px) {
            font-size: 35px;
            line-height: 30px;
        }
    }
    hr {
        border-color: #cecece;
        width: 60%;
        div.wrap.sub & {
            width: 40%;
        }
    }
    &-image {
        position: relative;
        overflow: hidden;
        z-index: 999;
        &:hover {
            & .addon-image__image {
                @include scale(1.2);
            }
        }
        &__image {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            @extend .bg-full;
            @include transition(transform .3s);
        }
        &__caption {
            position: absolute;
            top: 50%;
            left: 50%;
            margin-right: -50%;
            z-index: 10;
            @include translate(-50%, -50%);
        }
    }
    &-content {
        background-color: $brand_primary;
        font-size: 20px;
        padding: 130px 138px;
        position: relative;
        z-index: 100;
        /*div.wrap.sub & {*/
            @media (min-width: 1400px) {
                font-size: 25px;
                padding: 90px 63px;
            }
            @media (min-width: 992px) and (max-width: 1399px) {
                font-size: 20px;
                padding: 63px;
            }
            @media (min-width: 768px) and (max-width: 991px) {
                font-size: 16px;
                padding: 30px;
            }
            @media (max-width: 767px) {
                font-size: 14px;
                padding: 40px 15px;
            }
        /*}*/
    }
    &-item {
        @media (min-width: 768px) {
            width: 50%;
            &.left {
                float: left;
        }
            &.right {
                float: right;
            }
        }
    }
}

.testimonials-container {
    border-top: 1px solid #ebebeb;
}
.testimonial {
    font-family: $font-family-lucida;
    outline: 0;
    @media (min-width: 768px) {
        font-size: 30px;
        line-height: 40px;
        padding: 45px 4.1666666667%;
    }
    @media (max-width: 767px) {
        font-size: 16px;
        line-height: 25px;
        padding: 45px 30px;
    }
    @extend .text-center;
    .title-testimonial {
        font-size: 20px;
        text-transform: uppercase;
    }
    .content {
        position: relative;
        &:before,
        &:after {
            content:'';
            position: absolute;
            width: 34px;
            height: 30px;
            background-repeat: no-repeat;
        }
        &:before {
            background-image: url(../images/left-quote.png);
            top: 0;
            @media (min-width: 1200px) {
                // left: -2.0833333334%;
                // left: -7.083333%;
                left: -3%;

            }
            @media (min-width: 768px) and (max-width: 1199px) {
                left: -6.2500000002%;
            }
            @media (max-width: 767px) {
                left: -30px;
            }
        }
        &:after {
            background-image: url(../images/right-quote.png);
            bottom: 0;
            @media (min-width: 1200px) {
                // right: -2.0833333334%;
                right: -3%;
            }
            @media (min-width: 768px) and (max-width: 1199px) {
                right: -6.2500000002%;
            }
            @media (max-width: 767px) {
                right: -20px;
            }
        }
    }
}

.awards {
    background-color: #f6f6f6;
    padding-top: 60px;
    padding-bottom: 20px;
    overflow: hidden;
    @extend .text-center;
    &-container {
        margin-right: -40px;
    }
}
.award {
    display: inline-block;
    margin-bottom: 40px;
    margin-right: 40px;
    vertical-align: middle;
}

.title-location {
    display: block;
    font-weight: 700;
    margin-bottom: 10px;
    @media (min-width: 992px) {
        margin-top: 30px;
        font-size: 30px;
    }
    @media (max-width: 991px) {
        font-size: 20px;
        margin-top: 20px;
    }
}

.locations {
    background-image: url(../images/hexagon-sprite.jpg);
    @media (min-width: 768px) { 
        padding-top: 80px;
        padding-bottom: 80px;
    }
    @media (max-width: 767px) {
        padding-top: 40px;
        text-align: center;
    }
    .content {
        @media (min-width: 768px) { 
            font-size: 20px;
            line-height: 35px;
        }
        @media (max-width: 767px) {
            font-size: 14px;
            line-height: 20px;
        }
    }
}
.location {
    font-family: $font-family-helveticaMD;
    @media (min-width: 768px) {
        float: left;
        width: 33.3333333333%;
        @include padding-rl(15px);
    }
    @media (max-width: 767px) {
        margin-bottom: 30px;
        img {
            margin-left: auto;
            margin-right: auto;
        }
    }
    .content {
        a {
            color: #333;
        }
    }
    /*.title-location,
    .content {
        @include  padding-rl(15px);
    }*/
}

#request-a-free-consultation {
    background-image: url(../images/request-a-consultation.jpg);
    color: $white;
    @media (min-width: 768px) {
        padding-top: 88px;
        padding-bottom: 80px;
    }
    @media (max-width: 767px) {
        padding-top: 40px;
        padding-bottom: 35px;
    }
    @extend .bg-full;
    .section-title {
        margin-bottom: 20px;
        color: $white;
    }
    small {
        font-size: 14px;
    }
}

.footer-widget {
    color: $white;
    @media (min-width: 768px) {
        float: left;
        width: 50%;
    }
    @media (max-width: 767px) {
        margin-top: 20px;
    }
    &-title {
        border-bottom: 1px solid #fff;
        color: $white;
        font-size: 16px;
        margin-bottom: 10px;
        padding-bottom: 4px;
    }
    &-container {
        @media (min-width: 768px) {
            margin-top: 128px;
        }
        @media (max-width: 767px) {
            margin-top: 76px;
        }
    }
    ul {
        list-style: none;
        padding-left: 20px;
        li {
            a {
                color: $white;
                font-family: $font-family-helvetica;
            }
             &:last-child {
                margin-bottom: 0;
            }
        }
    }
}

.recent-post {
    li {
        margin-bottom: 28px;
    }
}

.attorneys-list-footer {
    li {
        margin-bottom: 10px;
    }
}

.ajax-loader {
    display: block;
}

.social-media-links {
    margin-top: 55px;
    a {
        background-image: url(../images/social-media.png);
        background-repeat: no-repeat;
        display: inline-block;
        width: 43px;
        height: 42px;
        text-indent: -9999999px;
        margin: 0 12px;
        &:first-child {
            margin-left: 0;
        }
        &:last-child {
            margin-right: 0;
        }
    }
    .facebook {
        background-position: 0;
    }
    .twitter {
        background-position: -72px 0;
    }
    .googleplus {
        background-position: -143px 0;
    }
    .linkedin {
        background-position: -213px 0;
    }
}

.newsletter {
    margin-top: 45px;
    padding-top: 39px; 
    &-title {
        margin-bottom: 10px;
        position: relative;
        &:before {
            border: 1px solid $white;
            content: '';
            position: absolute;
            top: -39px;
            width: 30%;
            z-index: 1;
        }
    }
}

.page-content {
    color: #404041;
    @media (min-width: 768px) {
        font-size: 20px;
        line-height: 30px;
        padding-bottom: 70px;
    }
    @media (max-width: 767px) {
        font-size: 14px;
        line-height: 20px;
        padding-bottom: 40px;
    }
}

.career-image {
    @extend .bg-full;
}

.career {
    .title-career {
        //border-bottom: 2px solid #e6e6e6 ;
        color: #fff;
        display: block;
        font-weight: 700;
        text-transform: uppercase;
        //margin-bottom: 35px;
        @media (min-width: 1200px) {
             font-size: 50px;
        }
        @media (min-width: 768px) and (max-width: 1199px) {
             font-size: 30px;
        }
        @media (max-width: 767px) {
        	font-size: 24px;
        	text-align: center;
        }
    }
    .content {
        background-color: $brand_primary;
        color: #fff;
        @media (min-width: 1200px) {
            // font-size: 20px;
            padding: 200px 28px; 
        }
        @media (min-width: 768px) and (max-width: 1199px) {
            // font-size: 16px;
            padding: 70px 28px;
        }
        @media (max-width: 767px) {
            // font-size: 14px;
            padding: 60px 28px;
        }
    }
    .career-image,
    .content {
        @media (max-width: 767px) {
            float: none;
            width: 100%;
        }
    }
    .career-image {
        @media (max-width: 767px) {
            max-height: 170px;
        }
    }
    .carousel-control {
    	background-image: none;
    	.glyphicon-chevron-left,
    	.glyphicon-chevron-right {
    		width: 50px;
    		height: 50px;
    		font-size: 50px;
    	}
    	.glyphicon-chevron-left {
			left: 10%;		
    	}
    	.glyphicon-chevron-right {
			right: 10%;	
    	}
    }
    // .carousel-indicators {
    //     bottom: -68px;
    //     display: table!important;
    //     left: 0;
    //     list-style: none;
    //     margin-left: 0;
    //     padding-left: 0;
    //     position: relative;
    //     width: 100%;
    //     li {
    //         border: 0;
    //         background-color: transparent;
    //         border-top: 2px solid #e6e6e6;
    //         display: table-cell;
    //         text-align: right;
    //         position: relative;
    //         @include border-radius(0!important);
    //         &:after {
    //             background-color: #e6e6e6;
    //             content: '';
    //             width: 10px;
    //             height: 10px;
    //             position: absolute;
    //             right: 0;
    //             top: -6px;
    //         }
    //         button {
    //             background-color: transparent;
    //             border: 0;
    //             color: #e6e6e6;
    //             display: block;
    //             margin-left: auto;
    //             outline: 0!important;
    //             @media (min-width: 768px) {
    //                 font-size: 25px;
    //             }
    //             @media (min-width: 768px) {
    //                 font-size: 20px;
    //             }
    //         }
    //         &.active {
    //             border-color: #ccc;
    //             &:after {
    //                 background-color: #ccc;
    //             }
    //             button {
    //                 color: #ccc;
    //             }
    //         }
    //     }
    // }   
}

.page-content-container {
    .page-content {
        color: #fff;
        @media (min-width: 1200px) {
            font-size: 30px;
            padding-top: 90px;
            padding-bottom: 90px;
        }
        @media (min-width: 992px) and (max-width: 1199px) {
            font-size: 24px;
            padding-top: 60px;
            padding-bottom: 60px;
        }
        @media (max-width: 991px) {
            font-size: 16px;
            padding-top: 30px;
            padding-bottom: 30px;
        }
    }
}

.files {
    > div:nth-child(2n+0) {
        border-right: 0;
    }
}

.file {
    border-top: 1px solid #ebebeb;
    @extend .col-2;
    @extend .text-center;
    @media (min-width: 768px) {
        border-right: 1px solid #ebebeb;
        float: left;
        padding-top: 95px; 
        padding-bottom: 177px;
    }
    @media (max-width: 767px) {
        float: none;
        padding-top: 30px;
        padding-bottom: 40px;
        width: auto;
    }
    &__info {
        margin-top: 34px;
        &--name {
            color: #404041;
            @media (min-width: 768px) {
                font-size: 25px;
            }
            @media (max-width: 767px) {
               font-size: 16px;
            }
        }
    }
}

.attorney-image {
    @media (max-width: 767px) {
        margin-left: auto;
        margin-right: auto;
    }
}