.archive,
.single-post,
.blog {
    background-color: #f6f6f6;
    font-size: 16px;
    line-height: 25px;
    h1 {
        color: $brand-primary;
        font-size: 30px;
        margin-bottom: 35px;
        padding-bottom: 15px;
        text-transform: uppercase;
    }
    h4 {
        margin-bottom: 10px;
        @media (min-width: 768px) {
            font-size: 25px;
        }
        @media (max-width: 767px) {
            font-size: 14px;
        }
    }
    .post-header {
        border-top: 1px solid #ebebeb;
        border-bottom: 1px solid #ebebeb;
        margin-bottom: 20px;
        padding-top: 30px;
        padding-bottom: 10px;
        &:after,
        &:before {
            content: '';
            display: table;
        }
        &:after {
            clear: both;
        }
    }
    .entry-title {
        @media (min-width: 768px) {
            width: 95%;
        }
        @media (max-width: 767px) {
            width: 85%;
        }
        &,
        a {
            color: #404041;
            font-size: 25px;
        }
    }
    .entry-title,
    .share {
        float: left;       
    }
    .share {
        position: relative;
        text-align: right;
        top: -5px;
        @media (min-width: 768px) {
            width: 5%;
        }
        @media (max-width: 767px) {
            width: 15%;
        }
        &:hover {
            background-color: #ddd;
            .social-media {
                display: block;
                background-color: #ddd;
            }
        }
        button {
            background-color: transparent;
            background-image: url(../images/icons/share-icon.png);
            background-repeat: no-repeat;
            border: 0;
            width: 41px;
            height: 41px;
            background-position: center;
            text-indent: -99999px;
        }
    }
    .social-media {
        display: none;
        position: absolute;
        left: -160px;
        top: 0;
        width: 160px;
        .addtoany_shortcode {
            > div {
                line-height: 1;
            }
            a {
                padding-top: 4px;
            }
        }
    }
}

.archive,
.blog {
    .page-header {
        margin-bottom: 10px;
    }
    h1 {
        margin-bottom: 0;
        padding-bottom: 0;
    }
}

.single-post {
    /*.post-header {
        margin-top: 70px;
    }*/
    .entry-title {
        margin: 0;
        padding-bottom: 0;
    }
}

article.post {
    margin-bottom: 75px;
    ul {
        li {
            &:before {
                content: none!important;
            }
        }
    }
    /*ol {
        list-style-type: none;
        padding-left: 4.4em;
        ul,ol {
            margin-top: 30px;
        }
        li {
            counter-increment: step-counter;
            margin-bottom: 30px;
            position: relative;
            &:before {
                background-color: #919192;
                content: counter(step-counter);
                color: white;
                font-size: 40px;
                font-weight: bold;
                left: -70px;
                line-height: 0.7;
                padding: 22px 0 0 28px;
                position: absolute;
            }
        }
    }*/
}

.attorney-title {
    color: #404041;
    margin-bottom: 30px;
    text-transform: uppercase;
    @extend .text-center;
    @media (max-width: 767px) {
        font-size: 20px;
    }
}
div.attorneys {
    margin-top: 20px;
}
.attorneys-list {
    padding-left: 0;
    @extend .text-center;
    li {
        display: inline-block;
        margin: 0 20px 60px;
        .name {
            color: #404041;
            display: block;
            font-weight: 700;
            margin-top: 5px;
            margin-bottom: 5px;
            @media (min-width: 768px) {
                font-size: 25px;
            }
        }
        a {
            color: #fff;
            display: block;
            font-weight: 400;
            text-transform: uppercase;
        }
        a,.name {
            @media (max-width: 767px) {
                font-size: 18px;
            }
        }
    }
}

.post-control {
    color: $brand-primary;
    .prev-control {
        float: left;
    }
    .next-control {
        float: right;
    }
}

.single-attorney {
    @media (min-width: 768px) {
        font-size: 20px;
        line-height: 30px;
    }
    @media (max-width: 767px ) {
        font-size: 14px;
        line-height: 20px;
    }
    .single-attorney-row {
        @media (min-width: 768px) {
            margin-bottom: 40px;
            padding-bottom: 40px;
        }
        @media (max-width: 767px) {
            margin-bottom: 20px;
            padding-bottom: 20px;
        }
    }
    .field {
        margin-bottom: 25px;
        > * {
            display: block;
        }
        &-label {
            font-weight: 700;
        }
        &-value {
            @extend .blue;
        }
    }
    .second-row,
    .third-row {
        border-bottom: 1px solid #ccc;
    }
    .third-row {
        padding-bottom: 20px;
        h1,h2,h3,h4,h5,h6 {
            @extend .blue;
            font-size: 20px;
            margin-bottom: 20px;
        }
    }
    .entry-content {
        ul,ol {
            padding-left: 1em;
        }
    }
}

.experiences {
    > * {
        display: block;
    }
    .experience-label {  
        font-weight: 700;
        margin-top: 45px;
        margin-bottom: 20px;
        @media (min-width: 768px) {
            font-size: 30px;
        }
        @media (max-width: 767px) {
            font-size: 20px;
        }
    }
    > span {
        &:first-child {
            margin-top: 0;
        }
    }
}

.attorney-description {
    border-bottom: 1px solid #ccc;
    padding-bottom: 25px;
    padding-top: 30px;
    @media (min-width: 768px) {
        border-top: 1px solid #ccc;
        margin-top: 20px;
    }
}

.post-action {
    color: #415eb8;
    @extend .clearfix;
    @media (max-width: 767px) {
        font-size: 14px;
    }
    &.upper {
        margin-bottom: 10px;
        > * {
           @media (min-width: 768px) {
                float: left;
                width: 25%;
           }
            @media (max-width: 767px) {
                display: block;
                margin-bottom: 10px;
            }   
        }
    }
}

.post-action__icon {
    margin-right: 10px;
    .tags & {
        margin-right: 20px;
    }
}

.read-more {
    font-weight: 700;
    font-style: italic;
}