.practice-area-menu {
    border-collapse:separate; 
    border-spacing:0 30px;
    display: table;
    width: 100%;
    .menu-item {
        color: #404041;
        display: table-row;
        &.active {
            text-decoration: underline;
            .icon {
                @include grayscale(100%);
            }
        }
        .icon {
            max-height: 25px;
            width: auto;
            &-container {
                padding-right: 14px;
                @extend .text-center;
            }
        }
        .menu-title {
            color: #404041;
            font-size: 16px;
            line-height: 25px;
        }
        > * {
            display: table-cell;
            vertical-align: middle;
        }
    }
}

.post-sidebar {
    .sidebar-widget {
        margin-bottom: 30px;
    }
    .sidebar-title {
        border-bottom: 1px solid #d7d7d7;
        color: #919192;
        margin-bottom: 32px;
        @media (min-width: 768px) {
            font-size: 25px;
            line-height: 45px;
        }
        @media (max-width: 767px) {
            font-size: 18px;
        }
    }
    ul {
        padding-left: 0;
        list-style: none;
        margin-bottom: 0;
        li {
            border-bottom: 1px solid #d7d7d7;
            line-height: 25px;
            margin-bottom: 10px;
            padding-bottom: 10px;
            a {
                color: #404041;
                @media (min-width: 768px) {
                    font-size: 20px;
                }
                @media (max-width: 767px) {
                    font-size: 16px;
                }
            }
        }
    }
}