@font-face {
    font-family: 'HelveticaNeueLTPro-Md';
    src:url('../fonts/HelveticaNeueLTPro-Md.ttf.woff') format('woff'),
        url('../fonts/HelveticaNeueLTPro-Md.ttf.svg#HelveticaNeueLTPro-Md') format('svg'),
        url('../fonts/HelveticaNeueLTPro-Md.ttf.eot'),
        url('../fonts/HelveticaNeueLTPro-Md.ttf.eot?#iefix') format('embedded-opentype'); 
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MrsEavesRoman';
    src:url('../fonts/MrsEavesRoman_Regular.ttf');
    font-weight: normal;
    font-style: normal;
}

h1,h2,h3,h4,h5,h6 { margin: 0;}

h1 {
    @media (max-width: 767px) {
        font-size: 20px;
    }
}

hr {
        border-width: 2px;
}

.brand-primary {
    background-color: $brand-primary;
}

.sidebar {
    @media (max-width: 767px) {
        margin-top: 40px;
    }
}

.blue {
    color: $brand-primary;
}

.fz-18 {
    font-size: 18px!important;
}

.mt-80 {
    @media (min-width: 768px) {
        margin-top: 80px;
    }
    @media (max-width: 767px) {
        margin-top: 40px;
    }
}

.mt-70 {
    margin-top: 70px;
}

.pt-70 {
    @media (min-width: 768px) {
        padding-bottom: 70px;
    }
}

.full-height {
    height: 100%;
}

.full-width {
    width: 100%;
}

.full {
    @extend .full-height;
    @extend .full-width;
}

.bg-full {
    background-position: center;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
    background-size: cover;
}

.fl {
    float: left;
}

.col-2 {
    width: 50%;
}

[class*=title] {
    color: $brand-primary;
    font-family: $font-family-helveticaMD;
}

.section-title {
    font-weight: 700;
    text-transform: uppercase;
    @media (min-width: 992px) {
        font-size: 60px;
        margin-bottom: 60px;
    }
    @media (min-width: 768px) and (max-width: 991px) {
        font-size: 50px;
        margin-bottom: 50px;
    }
    @media (max-width: 767px) {
        font-size: 30px;
        margin-bottom: 40px;
    }
}

.sidebar-title {
    color: $brand-primary;
    font-size: 20px;
    @media (max-width: 767px) {
        padding-left: 10px;
    }
}

.dtable {
    display: table;
    width: 100%;
}

.cell {
    display: table-cell;
}

.white {
    color: $white;
}

.overlay {
    background-color: rgba(0,0,0,.2);
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

@mixin border-radius($value) {
    -webkit-border-radius: $value;
    -moz-border-radius: $value;
    -ms-border-radius: $value;
    -o-border-radius: $value;
    border-radius: $value;
}

@mixin translate($value...) {
    -webkit-transform: translate($value);
    -ms-transform: translate($value);
    -o-transform: translate($value);
    transform: translate($value);
}

@mixin translateY($value) {
    -webkit-transform: translateY($value);
    -ms-transform: translateY($value);
    -o-transform: translateY($value);
    transform: translateY($value);
}

@mixin translateX($value) {
    -webkit-transform: translateX($value);
    -ms-transform: translateX($value);
    -o-transform: translateX($value);
    transform: translateX($value);
}

@mixin scale($value...) {
    -webkit-transform: scale($value);
    -ms-transform: scale($value);
    -o-transform: scale($value);
    transform: scale($value);
}

@mixin padding-rl($value) {
    padding-left: $value;
    padding-right: $value;
}

@mixin padding-tb($value) {
    padding-top: $value;
    padding-bottom: $value;
}

@mixin opacity($value) {
    opacity: $value/100;
    filter: alpha(opacity=$value); /* For IE8 and earlier */
}

@mixin box-shadow($value) {
    -webkit-box-shadow: $value;
    box-shadow: $value;
}

@mixin grayscale($value) {
    -webkit-filter: grayscale($value);
    -o-filter: grayscale($value);
    filter: grayscale($value);
}

@mixin box-shadow($value) {
    -webkit-box-shadow: $value;
    box-shadow: $value;
}

@mixin text-shadow($value) {
	-webkit-text-shadow: $value;
	-moz-text-shadow: $value;
	-ms-text-shadow: $value;
	-o-text-shadow: $value;
	text-shadow: $value;
}

@mixin placeholder {
  &::-webkit-input-placeholder {@content}
  &:-moz-placeholder           {@content}
  &::-moz-placeholder          {@content}
  &:-ms-input-placeholder      {@content}  
}


// slick
.slick-arrow {
    @include scale(0);
}

.flex-control-paging {
    z-index: 100;
}
