$font-family-helvetica: 'Helvetica Neue LT Pro', arial;
$font-family-helveticaMD: 'HelveticaNeueLTPro-Md';
$font-family-lucida: 'Lucida Bright', Georgia, serif;
$font-family-mrseaves: 'MrsEavesRoman';
$font-family-gentium: 'Gentium Book Basic', serif;
$icon-font-path: '../fonts/';
$slick-font-path: '../fonts/';
$slick-loader-path: '../images/';
// Grid settings
$enable-flex:           true;
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary:         #415eb8;
$white:                 #fff;

//navbar
$navbar-default-bg:  transparent;
$grid-float-breakpoint: 1367px;
$navbar-default-toggle-hover-bg: transparent;
$navbar-default-toggle-icon-bar-bg: #fff !default;

//inputs 
$input-border-radius: 0;
$input-bg: #f8f8f8;

//buttons
$btn-default-color: $white;
$btn-default-bg: $brand-primary;
$btn-border-radius-base: 0;

//header
$subpage-banner-height: 600px;
$subpage-banner-height-mobile: 366px;

$carousel-control-color: #aaa;